@import "tailwindcss";

@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-emerald-50: oklch(.979 .021 166.113);
    --color-emerald-100: oklch(.95 .052 163.051);
    --color-emerald-200: oklch(.905 .093 164.15);
    --color-emerald-300: oklch(.845 .143 164.978);
    --color-emerald-400: oklch(.765 .177 163.223);
    --color-emerald-500: oklch(.696 .17 162.48);
    --color-emerald-600: oklch(.596 .145 163.225);
    --color-emerald-700: oklch(.508 .118 165.612);
    --color-emerald-800: oklch(.432 .095 166.913);
    --color-gray-100: oklch(.967 .003 264.542);
    --color-stone-50: oklch(.985 .001 106.423);
    --color-stone-100: oklch(.97 .001 106.424);
    --color-stone-300: oklch(.869 .005 56.366);
    --color-stone-400: oklch(.709 .01 56.259);
    --color-stone-500: oklch(.553 .013 58.071);
    --color-stone-600: oklch(.444 .011 73.639);
    --color-stone-700: oklch(.374 .01 67.558);
    --color-stone-800: oklch(.268 .007 34.298);
    --color-stone-900: oklch(.216 .006 56.043);
    --color-stone-950: oklch(.147 .004 49.25);
    --color-black: #000;
    --color-white: #fff;
    --spacing: .25rem;
    --container-2xl: 42rem;
    --container-5xl: 64rem;
    --radius-2xl: 1rem;
    --drop-shadow-md: 0 3px 3px #0000001f;
    --drop-shadow-lg: 0 4px 4px #00000026;
    --blur-sm: 8px;
    --blur-3xl: 64px;
    --aspect-video: 16 / 9;
  }
}

body {
  background-color: var(--color-white);
  color: var(--color-stone-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
